<h2>{{professor.vorname}} {{professor.nachname}} Details</h2>
<div>
  <label for="vorname">Vorname:</label>
  <input [(ngModel)]="professor.vorname" id="vorname" placeholder="vorname" >
</div>
<div>
  <label for="nachname">Nachname:</label>
  <input [(ngModel)]="professor.nachname" id="nachname" placeholder="nachname">
</div>
<div>
  <label for="kuerzel">Kürzel:</label>
  <input [(ngModel)]="professor.kuerzel" id="kuerzel" placeholder="kuerzel">
</div>
<div>
  <label for="raum">Raum:</label>
  <input [(ngModel)]="professor.raum" id="raum" placeholder="raum" >
</div>
<div>
  <label for="telefon">Telefondurchwahl:</label>
  <input [(ngModel)]="professor.telefon" id="telefon" placeholder="telefon">
</div>
